/* Screen */

@media only screen and (max-width: 400px) {
  .team .screen-size .horizontal-container {
    margin-bottom: 20px;
  }

  .section5 .team .col-md-5 {
    justify-content: space-between;
    margin-top: 20px;
  }
}
