/* Screen */

@media only screen and (max-width: 400px) {
  :root {
    font-size: 16px;
  }

  .team .screen-size .horizontal-container {
    margin-bottom: 20px;
  }

  .section5 .team .col-md-5 {
    justify-content: space-between;
    margin-top: 20px;
  }

  .section6 .team .col-md-5 > span {
    margin-top: 2rem;
  }
}

/* Min-width: 500px */
@media only screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }

  .team .screen-size .horizontal-container {
    margin-bottom: 20px;
  }

  .section5 .team .col-md-5 {
    margin-top: 20px;
  }

  .section6 .team .col-md-5 > span {
    margin-top: 2rem;
  }
}
