:root {
  background-color: #4bcefa;
  --background-ctn: #000;
  --background-eye: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: var(background-color);
  width: 100vw;
  height: 100vh;
}

.container {
  background: var(--background-ctn);
  border-radius: 5em 5em 0 0;
  width: 18.75em;
  height: 24em;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 40%;
}

.eye {
  background: var(--background-eye);
  width: 1.9em;
  height: 1.9em;
  position: relative;
  margin: 0 auto;
  top: 20%;
}

.triangle {
  border-top: 3.67em solid transparent;
  border-left: 3.69em solid #ffff00;
  border-bottom: 3.67em solid transparent;
  position: absolute;
  top: 61%;
  right: 31.58%;
}
