.intro-container {
  position: relative;
}

.car-Illustration {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
/* intre-layout */
.intro-layout {
  background: #eff3fe;
  color: #000000;
  width: 35vw;
  height: 85vh;
  position: absolute;
  top: 20%;
  left: 13%;
}
/* options-container */
.options-container {
  display: flex;
  justify-content: space-around;
}

/* .bl-b {
  border-bottom: 2px #000 solid;
  width: 80px;
  padding-top: 20px;
  height: 10px;
} */

.options-bot {
  background: #eeeeee;
  padding: 1.4rem 0;
  margin-bottom: 40px;
  border-bottom: 2px #ccc solid;
}

.options span {
  display: block;
  padding-top: 1rem;
}

.options .fa-signal,
.options .fa-car {
  padding: 0 1rem;
}

.options-intro h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 0 3rem;
  padding: 20px 0;
}

.options-intro p {
  color: #303;
  font-size: 1.1rem;
  margin: 0 3rem;
  padding: 10px 0;
}

.options-intro a {
  color: #ccc;
  background: #000000;
  display: block;
  width: 220px;
  height: 45px;
  margin: 1rem 3rem;
  padding: 15px 19px;
}

.options-intro a:hover {
  filter: brightness(220%);
}

.options-intro span {
  border-bottom: 1px #ccc solid;
  margin: 1.5rem 3rem;
  padding: 5px 0;
}

.options-intro span:hover {
  border-bottom: 1px #000000 solid;
}
