.intro-container {
  position: relative;
}

.car-Illustration {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
/* intre-layout */
.intro-layout {
  background: #f1f1f1;
  color: #000000;
  width: 35vw;
  height: 90vh;
  position: absolute;
  top: 15%;
  left: 13%;
}
/* options-container */
.options-container {
  display: flex;
  justify-content: space-around;
}

.options-bot {
  background: #eeeeee;
  padding: 1.4rem 0;
  margin-bottom: 40px;
  border-bottom: 2px #ccc solid;
}

.options span {
  display: block;
  padding-top: 1rem;
}

.options .fa-signal,
.options .fa-car {
  padding: 0 1rem;
}

.options-intro h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 0 3rem;
  padding: 20px 0;
}

.options-intro p {
  color: #303;
  font-size: 1.1rem;
  margin: 0 3rem;
  padding: 12px 0;
}

.options-intro a {
  color: #ccc;
  background: #000000;
  display: block;
  width: 220px;
  height: 45px;
  margin: 1rem 3rem;
  padding: 13px 19px;
  margin-bottom: 3rem;
}

.options-intro a:hover,
.business-container a:hover {
  filter: brightness(220%);
}
/* options-intro span*/
.options-intro span {
  border-bottom: 1px #ccc solid;
  margin: 1.5rem 3rem;
  padding: 7px 0;
}

.options-intro span:hover {
  border-bottom: 1px #000000 solid;
}

/* Business */
.business {
  background-image: url("./assets/Uber-NYC-bkg.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding-bottom: 1.4rem;
}

.business-container {
  padding: 1.5rem 10rem;
}

.business-container h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5rem 0;
  font-size: 2.4rem;
}

.business-container p {
  padding-bottom: 3rem;
  font-size: 18px;
}

.business-container a {
  background: #000000;
  color: #ccc;
  padding: 0.8rem 1.5rem;
}

/* alway-container */
.alway-container {
}

.alway-container h2 {
  font-size: 34px;
  padding-left: 10rem;
  padding-top: 4rem;
}
.alway-inside-container {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 10rem;
}
.inside-flex {
  margin: 1rem;
}

.inside-flex img {
  width: 450px;
  height: 350px;
}

.inside-flex h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 350;
  padding-top: 1rem;
}
.inside-flex p {
  padding-top: 1rem;
}

.inside-flex .span-container {
  padding-top: 45px;
}
.span-container span,
.about-container-span span {
  border-bottom: 1px #ccc solid;
  padding: 7px 0;
}

.span-container span:hover,
.about-container-span span:hover {
  border-bottom: 1px #000000 solid;
}

.span-container .span-left {
  padding-left: 14px;
}

/* information-container */
.information-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 10rem;
}

.information i {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.aboutUs-container h3 {
  font-weight: 350;
  padding: 12px 0;
}
.aboutUs-container p {
  color: #333333;
  padding: 5px 0;
  line-height: 1.5rem;
}

.aboutUs-container .about-container-span {
  padding: 2rem 0;
}

/* Discover-Container */
.discover-container {
  width: 100%;
  background: #f1f1f1;
  padding: 1.8rem 10rem;
}
.discover-container h2 {
  font-weight: 400;
  padding: 1.4rem 0;
}

.dcv-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover {
  background: #ffffff;
  display: flex;
  border: 1px #ccc solid;
  width: 520px;
  margin-right: 1.4rem;
}

.discover img {
  width: 200px;
  height: 180px;
  padding: 1rem;
}

.app {
  display: flex;
  align-items: center;
}

.app span i {
  padding-left: 10px;
}

/* Register-container  */
.register-container {
  padding: 4rem 10rem;
}

.register {
  display: flex;
  align-items: center;
}

.register-here {
  display: flex;
  align-items: center;
  width: 500px;
  border-bottom: 1px #000 solid;
  padding: 1rem 0;
  margin-right: 2rem;
}

.register-here h2 {
  margin-right: 10rem;
}
.register-here .fa-arrow-right {
  font-size: 35px;
}
