/* intro-container */
.intro-container {
  position: relative;
}

.car-Illustration {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* intre-layout */
.intro-layout {
  background: #f6f6f6;
  color: #000000;
  width: 43vw;
  height: 90vh;
  position: absolute;
  top: 15%;
  left: 5%;
}

/* options-container */
.options-container {
  display: flex;
  justify-content: space-around;
}

.options-bot {
  background: #eeeeee;
  padding: 1.4rem 0;
  margin-bottom: 40px;
  border-bottom: 2px #ccc solid;
}

.options span {
  display: block;
  padding-top: 1rem;
}

.options .fa-signal,
.options .fa-car {
  padding: 0 1rem;
}

/* options-into */
.options-intro h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 0 3rem;
  padding: 20px 0;
}

.options-intro p {
  color: #303;
  font-size: 1.1rem;
  margin: 0 3rem;
  padding: 12px 0;
}

.options-intro a {
  color: #ccc;
  background: #000000;
  display: block;
  width: 220px;
  height: 45px;
  margin: 1rem 3rem;
  padding: 13px 19px;
  margin-bottom: 3rem;
}

/* options-intro hover / business-container hover */
.options-intro a:hover,
.business-container a:hover {
  filter: brightness(220%);
}

/* options-intro span*/
.options-intro span {
  border-bottom: 0.5px #ccc solid;
  margin: 1.5rem 3rem;
  padding: 7px 0;
}

/* horizontal / line */
.horizontal {
  position: relative;
}

.horizontal::after {
  background: #000;
  content: " ";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 1px;
}

.line::after {
  transform: scale(0, 1);
  transform-origin: 0 100%;
  transition: 0.2s ease;
}
.line:hover::after {
  transform: scale(1, 1);
}

/* Business */
.business {
  background-image: url("./assets/Uber-NYC-bkg.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 40vh;
  margin: 0;
  padding-bottom: 1.4rem;
}

.business-container {
  padding: 1.5rem 5rem;
}

.business-container h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.5rem 0;
  font-size: 2.4rem;
}

.business-container p {
  padding-bottom: 3rem;
  font-size: 18px;
}

.business-container a {
  background: #000000;
  color: #ccc;
  padding: 0.8rem 1.5rem;
}

/* alway-container */
.alway-container {
  padding: 1rem 5rem;
}

.alway-container h2 {
  font-size: 34px;
  padding-top: 3rem;
}

.alway-inside-container {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
}

.inside-flex {
  margin: 1rem;
}

.inside-flex img {
  width: 550px;
  height: 350px;
}

.inside-flex h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 350;
  padding-top: 1rem;
}
.inside-flex p {
  padding-top: 1rem;
}

.inside-flex .span-container {
  padding-top: 45px;
  display: flex;
}

.span-container span,
.about-container-span span {
  border-bottom: 1px #ccc solid;
  padding: 7px 0;
}

.spaceBetween-span {
  padding-right: 20px;
}

/* information-container */
.information-container {
  display: flex;
  padding: 1rem 4rem;
}

.information {
  width: 360px;
}

.information i {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.aboutUs-container h3 {
  font-weight: 350;
  padding: 12px 0;
}

.aboutUs-container p {
  color: #333333;
  padding: 5px 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.aboutUs-container .about-container-span {
  padding: 2rem 0;
}

/* Discover-Container */
.discover-container {
  width: 100%;
  background: #f1f1f1;
  padding: 1.8rem 4rem;
}
.discover-container h2 {
  font-size: 2.3rem;
  font-weight: 400;
  padding: 1.4rem 0;
}

.dcv-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3rem;
}

.discover {
  background: #ffffff;
  display: flex;
  border: 1px #ccc solid;
  width: 520px;
  margin-right: 1.4rem;
}

.discover img {
  width: 200px;
  height: 190px;
  padding: 1.5rem;
}

.app {
  display: flex;
  align-items: center;
}

.app span {
  font-size: 1.4rem;
}

.app span i {
  padding-left: 10px;
}

/* Register-container  */
.register-container {
  padding: 4rem 4rem;
}

.register {
  display: flex;
  align-items: center;
}

.register-here {
  display: flex;
  align-items: center;
  width: 500px;
  border-bottom: 1px #000 solid;
  padding: 1rem 0;
  margin-right: 2rem;
}

.register-here h2 {
  margin-right: 12rem;
}
.register-here .fa-arrow-right {
  font-size: 35px;
}

/* Footer */
footer {
  background: #000000;
  color: #ffffff;
  width: 100%;
}

.footer-container {
  padding: 4rem 4rem;
}

.footer-container h2 {
  padding: 2rem 0;
}

.help {
  padding: 1.2rem 0;
}

.footer-content {
  display: flex;
  padding: 1.4rem 0;
}

.footer-flexbox {
  padding-right: 4rem;
  width: 540px;
}

.footer-flexbox p {
  padding-top: 1.5rem;
}

.footer-flexbox p:hover {
  filter: brightness(50%);
}

/* Social-container */
.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0;
}

.social .fa-facebook-square,
.social .fa-twitter,
.social .fa-youtube,
.social .fa-linkedin-in,
.socail .fa-instagram {
  padding: 0.5rem;
}

/* icon */
.icon a {
  padding: 0.5rem;
}

.icon a:hover {
  background: #333333;
}

.social button {
  text-decoration: none;
  background: #000000;
  color: #f1f1f1;
  border: none;
  padding: 10px;
}

.social-btn {
  padding-left: 2rem;
  width: 410px;
}

.social-btn i {
  padding: 0 9px;
}

.social-btn button:hover {
  background: #333333;
}

.social img {
  width: 130px;
  height: 60px;
  margin-right: 0.5rem;
}

.social-img {
  padding-right: 1rem;
}

/* Uber-clone */
.uber-clone {
  color: #ccc;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.pg {
  display: flex;
}

.pg p {
  padding: 0 1.1rem;
}
.pg p:hover {
  filter: brightness(50%);
}

@media screen and (max-width: 600px) {
  .intro-Container {
    font-size: 14;
  }

  .car-Illustration {
    max-width: 100%;
  }

  .options-container {
    font-size: 10px;
  }
  .options {
    font-size: 8px;
  }
  /* options-intro */
  .options-intro {
    font-size: 12px;
    padding: -3px;
  }

  .options-intro h2 {
    font-size: 10px;
  }
  .options-intro p {
    font-size: 9px;
  }

  .options-intro a {
    font-size: 9px;
    padding: 2px;
    width: 60px;
    height: 35px;
    border-radius: 3px;
    display: block;
  }

  .options-intro span {
    font-size: 9px;
    padding: 2%;
  }
  /* Bussiness container */
  .business-container h2 {
    font-size: 14px;
  }
  .business-container p {
    font-size: 7px;
  }

  .business-container a {
    padding: 1%;
  }
  /* alway-container */
  .alway-container h2 {
    font-size: 18px;
  }

  /* Discover-Container */
  .discover {
    flex: 1;
    margin: 10px;
  }

  /* footer-content/ Social-img  */
  .social-img,
  .footer-content h3 {
    margin-top: 1.2rem;
  }

  .business,
  .alway-inside-container,
  .information-container,
  .dcv-flex-container,
  .register,
  .footer-content,
  .uber-clone,
  .social-container,
  .important-container,
  .cv19,
  .safety-standard-container,
  .info-security-container,
  .important2,
  .safetyWith-care {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Desktop Styles */
@media screen and (max-width: 1275px) {
  header {
    font-size: 1rem;
    max-width: 100%;
    height: 15vh;
  }

  .fa-user {
    margin: 0.3rem;
  }

  .cl-white {
    padding: 0.3rem 0.44rem;
  }

  /* options-intro h2*/
  .options-intro h2 {
    font-size: 15px;
    padding: 3px;
  }

  /* Business */
  .business {
    height: 60vh;
  }
}

@media screen and (max-width: 990px) {
  header {
    font-size: 1rem;
    max-width: 100%;
    height: 15vh;
  }

  .list-hover-right,
  .hide {
    display: none;
  }

  .show {
    display: block;
    margin: 1rem;
  }

  .fa-user {
    margin: 0.3rem;
  }

  .cl-white {
    padding: 0.3rem 0.44rem;
  }

  /* footer-content/ Social-img  */
  .social-img,
  .footer-content h3 {
    margin-top: 1.2rem;
  }

  /* Discover-Container */
  .discover {
    flex: 1;
    margin: 10px;
  }

  /* alway-inside-container */
  .business,
  .alway-inside-container,
  .information-container,
  .dcv-flex-container,
  .register,
  .footer-content,
  .uber-clone,
  .social-container,
  .important-container,
  .cv19,
  .safety-standard-container,
  .info-security-container,
  .important2,
  .safetyWith-care {
    display: flex;
    flex-wrap: wrap;
  }
}
